html {
  font-size: 62.5%;
  box-sizing: border-box;
  color: #000;
  font-family: Work Sans;
  font-style: normal;
  line-height: normal;
}

.wworder-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  /* Media query for responsive behavior */
}
@media (min-width: 576px) {
  .wworder-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .wworder-container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .wworder-container {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .wworder-container {
    max-width: 1170px;
  }
}

.title-section {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 2.4rem;
  margin-bottom: 30px;
}

.header-page-title {
  text-transform: uppercase;
  font-size: 6.4rem;
  font-weight: 600;
}
.header-line {
  border: 1px solid black;
}

.main {
  margin-bottom: 50px;
}
.main-form {
  width: 100%;
  height: auto;
}
.main-form-group {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}
.main-form-group input {
  flex: 1 1 auto;
}
.main-form-group input {
  border: 0 !important;
  border-radius: 0;
  border-bottom: 1px solid black !important;
}
.main-form-single-input {
  width: 100%;
}
.main-form-title {
  text-transform: uppercase;
  font-size: 3.2rem;
  font-weight: 700;
}
.main-form-section {
  margin-top: 40px;
}
.main-form .customer {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}
.main-form .customer-information {
  flex-grow: 0.549;
}
.main-form .customer-message {
  display: flex;
  flex-direction: column;
  flex-grow: 0.451;
}
.main-form .customer-message textarea {
  width: 100%;
  height: 100%;
  resize: none;
  margin-bottom: 40px;
}
.main-form .customer-message-mobile {
  display: none;
}
.main-form .order-header {
  font-size: 2rem;
  font-weight: 400;
}
.main-form .order-example p {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
}
.main-form .order textarea {
  width: 100%;
  height: 200px;
  max-height: 300px;
}
.main-form .notice-header {
  font-size: 2rem;
  font-weight: 400;
}
.main-form-button-submit {
  display: block;
  margin: 30px auto;
  background-color: black;
  color: white;
  font-size: 1.8rem;
  padding: 1.2rem 0;
  width: 40%;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header-page-title {
    font-size: 4.4rem;
  }
  .main-form-title {
    font-size: 2.2rem;
  }
  .main-form .order-header {
    font-size: 1.75rem;
  }
  .main-form .notice-header {
    font-size: 1.75rem;
  }
  .main-form-button-submit {
    font-size: 1.4rem;
    padding: 1.1rem 0;
    width: 40%;
  }
  .title-section {
    font-size: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-page-title {
    font-size: 3.4rem;
  }
  .title-section {
    font-size: 1.8rem;
  }
  .main-form-title {
    font-size: 2rem;
  }
  .main-form .order-header {
    font-size: 1.5rem;
  }
  .main-form .notice-header {
    font-size: 1.5rem;
  }
  .main-form-button-submit {
    font-size: 1.4rem;
    padding: 1.1rem 0;
    width: 40%;
  }
}
@media (max-width: 767px) {
  .header-page-title {
    font-size: 2rem;
  }
  .title-section {
    font-size: 1.3rem;
  }
  .main-form-title {
    font-size: 1.5rem;
  }
  .main-form .customer {
    height: fit-content;
    gap: 0;
    display: block;
  }
  .main-form .customer-information {
    flex-grow: 0;
  }
  .main-form .customer-message {
    display: none;
  }
  .main-form .customer-message-mobile {
    display: block;
  }
  .main-form .customer-message-mobile textarea {
    width: 100%;
    height: 150px;
    resize: none;
  }
  .main-form .order-header {
    font-size: 1.5rem;
  }
  .main-form .notice-header {
    font-size: 1.5rem;
  }
  .main-form-button-submit {
    font-size: 1.4rem;
    padding: 1.1rem 0;
    width: 40%;
  }
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 10px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
.thankyou-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;
}
.thankyou-content {
  line-height: 3rem;
  font-size: 1.8rem;
  text-align: justify;
  text-align: center;
  padding: 0 30px;
  font-weight: 400;
}

/* Override Bootstrap 3 overlay */
.modal-backdrop {
  /* Customize overlay background color and opacity */
  background-color: rgba(255, 255, 255, 0.93) !important;
}

.modal-backdrop.in {
  /* Customize overlay visibility */
  opacity: 1 !important;
}

.modal {
  /* Customize modal box shadow */
  box-shadow: 4px 8px 8px hsla(0, 0%, 0%, 0.38) !important;
  text-align: center;
  padding: 0 !important;
}

.modal-body {
  padding: 40px 15px 50px 15px !important;
}

.modal:before {
  content: "";
  display: inline-block;
  height: 70%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.modal-footer {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
